body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: #171818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgContainer img {
  width: 100%;
}
.svgContainer svg {
  width: 100%;
}

/* load font */
/* @font-face {
  font-family: "libre-franklin-latin-300";
  src: url("../public/font/libre-franklin-v7-latin-300.woff2");
}

@font-face {
  font-family: "libre-franklin-latin-600";
  src: url("../public/font/libre-franklin-v7-latin-600.woff2");
}

@font-face {
  font-family: "libre-franklin-latin-regular";
  src: url("../public/font/libre-franklin-v7-latin-regular.woff2");
}

@font-face {
  font-family: "SackersGothicMediumAT";
  src: url("../public/font/SackersGothicMediumAT.woff2");
}

@font-face {
  font-family: "SackersGothicStd-Medium";
  src: url("../public/font/SackersGothicStd-Medium.otf");
} */

/* mirror */
#videoContainer video {
  transform: scaleX(-1) !important;
}
